body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: inherit;
}

.box {
	height: 30vw;
	width: 30vw;
	margin: 5px;
}

.green {
	background-color: #000000;
}

.light_blue {
	background-color: #000000;
}

.purple {
	background-color: #000000;
}

.red {
	background-color: #000000;
}

.orange {
	background-color: #000000;
}

.opaque {
	content:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVd1oYZ88czepgjpDHposLmvPDhwP5r7MdTyiCXfU3NzcIbQH-);
	
}

.opaque1 {
	background-image :url(http://www.aquariumfish.net/images_01/neon_tetra_110601a4_w0640.jpg);
}

.opaque2 {
	background-image :url(https://a-z-animals.com/media/animals/images/original/puffer_fish7.jpg);
}

.opaque3 {
	background-image :url(http://www.aquariumfish.net/images_01/hf_sunset_wag_100527a2_w0480.jpg);
}
