body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: inherit;
}

.box {
	height: 30vw;
	width: 30vw;
	margin: 5px;
}

.green {
	background-color: #59FC00;
}

.light_blue {
	background-color: #00FCF7;
}

.purple {
	background-color: #FC00F0;
}

.red {
	background-color: #FC0000;
}

.orange {
	background-color: #F4FC00;
}

.opaque {
	content:url(https://pbs.twimg.com/profile_images/1590346219/spider_400x400.jpg);
	
}

.opaque1 {
	background-image :url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSExIscJvw8U59D1UEwvcxQIQeegw4FcWLanfWSZeyw_ks4-lbc);
}
